<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <!-- Favicons -->
    <link href="{% static 'img/favicon.png' %}" rel="icon">
    <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <!-- Vendor JS Files -->
    <script type="text/javascript" src="{% static 'vendor/purecounter/purecounter.js' %}" defer></script>
    <script type="text/javascript" src="{% static 'vendor/aos/aos.js' %}" defer></script>
    <script type="text/javascript" src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}" defer></script>
    <script type="text/javascript" src="{% static 'vendor/glightbox/js/glightbox.min.js' %}" defer></script>
    <script type="text/javascript" src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}" defer></script>
    <script type="text/javascript" src="{% static 'vendor/swiper/swiper-bundle.min.js' %}" defer></script>
    <script type="text/javascript" src="{% static 'vendor/typed.js/typed.min.js' %}" defer></script>
    <script type="text/javascript" src="{% static 'vendor/waypoints/noframework.waypoints.js' %}" defer></script>
    <script type="text/javascript" src="{% static 'vendor/php-email-form/validate.js' %}" defer></script>

    <!-- Template Main JS File -->
    <script type="text/javascript" src="{% static 'js/main.js' %}" defer></script>

    <title>{{ title }}</title>
</head>

<body>
    <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>
    
    <header id="header" class="d-flex flex-column justify-content-center">
        <nav id="navbar" class="navbar nav-menu">
            <ul>
                <li>
                    <a href="{% url 'home' %}" class="nav-link scrollto">
                        <i class="bx bx-home"></i> <span>Accueil</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'photos' %}" class="nav-link scrollto">
                        <i class="bi bi-camera"></i> <span>Galerie Photos</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'videos' %}" class="nav-link scrollto">
                        <i class="bi bi-camera-video"></i> <span>Galerie Vidéos</span>
                    </a>
                </li>
                    <a href="{% url 'contact' %}" class="nav-link scrollto">
                        <i class="bx bx-envelope"></i> <span>Contact</span>
                    </a>
                </li>
            </ul>
        </nav>
    </header>

    <section id="hero" class="d-flex flex-column justify-content-center">
        <div class="container" data-aos="zoom-in" data-aos-delay="100">
            <h1>Didier CAPDEROU</h1>
            <p>Je suis <span class="typed" data-typed-items="Plongeur amateur,Photographe de plongée amateur"></span></p>
            <div class="social-links">
                <a href="https://www.facebook.com/didier.capderou" target="_blank" class="facebook">
                    <i class="bx bxl-facebook"></i>
                </a>
            </div>
        </div>
    </section>

    <main id="main">
        {% block content %}
        {% endblock %}
    </main>

    <footer id="footer">
        <div class="container">
            <h3>Didier CAPDEROU</h3>
            <div class="social-links">
                <a href="https://www.facebook.com/didier.capderou" target="_blank" class="facebook">
                    <i class="bx bxl-facebook"></i>
                </a>
            </div>
            <div class="copyright">
                &copy; Copyright <strong><span>MyResume</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: [license-url] -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/free-html-bootstrap-template-my-resume/ -->
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>
        </div>
    </footer><!-- End Footer -->

    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center">
        <i class="bi bi-arrow-up-short"></i>
    </a>
</body>

</html>