{% extends 'base.html' %}

{% block content %}
<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio section-bg">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>Galerie Photos</h2>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
            {% for photo in photos %}
            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="{{ photo.image.url }}" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>{{ photo.name }} - {{ photo.country }}</h4>
                        <p>{{ photo.description }}</p>
                        <div class="portfolio-links">
                            <a href="{{ photo.image.url }}" data-gallery="portfolioGallery"
                                class="portfolio-lightbox" title="{{ photo.name }}">
                                <i class="bx bx-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}