{% extends 'base.html' %}

{% load static %}
{% block content %}
<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio section-bg">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>Vidéos</h2>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
            {% for video in videos %}
            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <video width="320" height="240" controls>
                        <source src="{{ video.video.url }}" type="video/mp4">
                    </video> 
                    <div class="portfolio-info">
                        <h4>{{ video.name }} - {{ video.country }}</h4>
                        <p>{{ video.description }}</p>
                        <div class="portfolio-links">
                            <a href="{{ video.video.url }}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="{{ video.name }}">
                                <i class="bx bx-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}